/* Styling needed for a fullscreen canvas and no scrollbars. */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#gamecontainer {
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.ticket-loading {
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
}

.ticket {
  position: absolute;
  top: 0;
  left: 100%;
  width: 300px;
  height: 175px;
  background-color: white;
}

.ticket-table {
  display: none;
}

.ticket-table .ticket-option {
  cursor: pointer;
}

.ticket-table .ticket-option:hover {
  background-color: #DDD;
}

#ticket_selector_modal .modal-body {
  height: 400px;
}

.ticket-header, .description, .ticket-footer {
  padding: 5px 10px;
}

.ticket-header{
  background-color: #e6e6e6;
  height: 65px;
  border-bottom: solid 2px #b6b6b6;
  font-size: 12px;
}

.ticket-header-attributes {
  position: relative;
  float: right;
  width: 70%;
  height: 100%;
}

.ticket-header-icon {
  float: left;
}

.ticket-header-icon img {
  position: relative;
  top: 5px;
  left: 5px;
}

.ticket-footer {
  position: relative;
  height: 40px;
  background-color: #e6e6e6;
  border-top: solid 2px #b6b6b6;
}

.description {
  height: 72px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 15px;
}

.author {
  float: right;
  text-align: right;
}

.summary {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status, .priority {
  position: absolute;
  bottom: 5px;
}

.priority {
  right: 10px;
}

.status {
  left: 10px;
}
